@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.sidebar {
    position: absolute;
    width: 90px;
    min-height: 100%;
    background-color: var(--c-w);
    overflow: hidden;
    transition: 0.5s;
}

.sidebar:hover {
    width: 220px;
    min-height: 100%;
    background-color: var(--c-w);
    overflow: hidden;
    transition: 0.5s;
}

.sidebar ul {
    position: relative;
    min-height: 100%;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li:hover {
    background: var(--c-g-100);
    border-radius: 25px 0px 0px 25px;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: var(--c-b-900);
}

.sidebar ul li a .text {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: var(--c-b-900);
    letter-spacing: 0.05em;
}

.sidebar ul li.logo {
    margin-bottom: 50px;
}

.sidebar ul li.logo {
    font-size: 1.5em;
}

.sidebar ul li.logo:hover {
    background: var(--c-w);
}

.sidebar ul li.logo .text {
    font-size: 0.8em;
    font-weight: 500;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom .avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.bottom .avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar .bottom li#nohover:hover {
    background: var(--c-w);
}

.card-cliente {
    width: 392px;
    height: 141px;
    flex-shrink: 0;
    border: 1px solid var(--c-b-900);
    border-radius: 25px;
}
@media only screen and (max-width: 425px) {
    .card-cliente {
        width: 160px;
        height: 141px;
    }
}